[submodule "content/doc"]
	path = content/doc
	url = https://github.com/idiks/doc
	shallowed = true
[submodule "content/doc-cn"]
	path = content/doc-cn
	url = https://github.com/idiks/doc-cn
	shallowed = true
[submodule "content/blog"]
	path = content/blog
	url = https://github.com/idiks/blog
	shallowed = true
[submodule "content/blog-cn"]
	path = content/blog-cn
	url = https://github.com/idiks/blog-cn
	shallowed = true
[submodule "content/weekly"]
	path = content/weekly
	url = https://github.com/idiks/weekly
	shallowed = true
[submodule "content/meetup"]
	path = content/meetup
	url = https://github.com/idiks/meetup
	shallowed = true
