[submodule "content/blog"]
	path = content/blog
	url = https://github.com/idiks/blog
	shallowed = true
[submodule "content/blog-cn"]
	path = content/blog-cn
	url = https://github.com/idiks/blog-cn
	shallowed = true
[submodule "content/weekly"]
	path = content/weekly
	url = https://github.com/idiks/weekly
	shallowed = true
[submodule "content/meetup"]
	path = content/meetup
	url = https://github.com/idiks/meetup
	shallowed = true
[submodule "content/docs"]
	path = content/docs
	url = https://github.com/idiks/docs
[submodule "content/docs-cn"]
	path = content/docs-cn
	url = https://github.com/idiks/docs-cn
