{{ $data_i18_link := $.Scratch.Get "data_i18_link" }}
<footer>
    <div class="container">
        <div class="flex-list-wrap">
            <div class="flex-list">
                <h4 class="list-title"><strong>产品</strong></h4>
                <ul>
                <li><a href="/docs-cn/v3.0/" onclick="trackViews('footer-product-tidb', 'docs-cn_view')">TiDB</a></li>
                <li><a href="/docs-cn/v3.0/reference/iSkillUp/">iSkillUp</a></li>
                <li><a href="/docs-cn/v3.0/roadmap/">iSkillUp 路线图</a></li>
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>文档</strong></h4>
                <ul>
                <li><a href="https://docs.idiks.com/zh/iSkillUp/v4.0/quick-start-with-SkillUp">快速入门</a></li>
                <li><a href="/blog-cn/iSkillUp-best-practice/">最佳实践</a></li>
                <li><a href="/docs-cn/stable/faq/iSkillUp/">常见问题解答</a></li>
                <li><a href="/docs-cn/stable/reference/tools/user-guide/">iSkillUp 周边工具</a></li>
                <li><a href="https://docs.idiks.com/zh/iSkillUp/dev/release-notes">版本发布说明</a></li>
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>资源</strong></h4>
                <ul>
                <li><a href="/blog-cn/">博客</a></li>
                <li><a href="https://github.com/idiks" target="_blank">GitHub</a></li>
                <li><a href="https://idiks.com/tutorials" target="_blank">iSkillUp in Action</a></li>
                <li><a href="https://learning.idiks.com/"
                    onclick="trackViews('footer-source-university', 'idiks-university_view')" target="_blank">PingCAP
                    University</a></li>
                <li><a href="/solutions/intel/"
                    onclick="trackViews('footer-resource-solutions', 'solutions_view')" >联合解决方案</a></li>
                <li><a href="https://idiks.com/support"
                    onclick="trackViews('footer-resource-asktug', 'asktug_view')" target="_blank">Ask SUG</a></li>
                <!-- <li><a href="https://www.youtube.com/watch?v=dijsN0bddck" target="_blank">技术分享</a></li> -->
                </ul>
            </div>
            <div class="flex-list">
                <h4 class="list-title"><strong>公司</strong></h4>
                <ul>
                <li><a href="/about-cn/">关于我们</a></li>
                <li><a href="https://idiks.com/jobs" target="_blank" onclick="trackViews('footer-recruit-join', 'recruit-join_view')">招贤纳士</a>
                </li>
                <li><a href="/about-cn/news/">新闻报道</a></li>
                <li><a href="/zh/privacy-policy/">隐私申明</a></li>
                </ul>
            </div>
        </div>
        <div class="contact-list-wrap">
            <div class="flex-list">
                <h4 class="list-title"><strong>联系我们</strong></h4>
                <ul>
                <li><a href="https://twitter.com/idiks" class="twitter"  target="_blank">{{ partial "svgs/icon-twitter.svg" (dict "width" 18 "height" 19 ) }} Twitter</a></li>
                <li><a href="https://www.linkedin.com/company/idiks/" class="linkedin" target="_blank">{{ partial "svgs/icon-linked-in.svg" (dict "width" 18 "height" 16 ) }} LinkedIn</a></li>
                <li><a href="https://www.reddit.com/r/idiks/" class="reddit" target="_blank">{{ partial "svgs/icon-reddit.svg" (dict "width" 18 "height" 18 ) }} Reddit</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/idiks-user" class="google-plus" target="_blank">{{ partial "svgs/icon-google-plus.svg" (dict "width" 18 "height" 20 ) }} Google Group</a></li>
                <li><a href="https://stackoverflow.com/questions/tagged/idiks" class="stack-overflow" target="_blank">{{ partial "svgs/icon-stack-overflow.svg" (dict "width" 18 "height" 17 ) }} Stack Overflow</a></li>
                <li id="wechat"><a class="wechat" href="javascript:void(0)">{{ partial "svgs/icon-weixin.svg" (dict "width" 18 "height" 17 ) }} 微信公众号</a> {{ partial "common/qr-code.html" . }}</li>
                </ul>
            </div>
            <div class="subscribe" id="subscribe-pc"></div>
        </div>
    </div>
    <div class="container copyright-container">
        <p class="copyright">&copy; 2025 小长科技（上海）有限公司</p>
        <a href="{{ or $data_i18_link .Params.data_i18_page_link }}" class="copyright-btn-lang copyright-btn-en" id="lang">English</a>
        <a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备14049619号-2</a>
    </div>
</footer>
